.order{
    width: 1170px;
    min-height: 500px;
}
.main{
    width: 1000px;
    margin: 0 auto ;
    padding-top: 30px;
    padding-left: 15px;
}
.tab-button {
    padding: 6px 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #ccc;
    cursor: pointer;
    background: #f0f0f0;
    margin-bottom: -1px;
    margin-right: -1px;
}
.tab-button:hover {
    background: #e0e0e0;
}
.tab-button.active {
    background: #e0e0e0;
}
.tab {
    border: 1px solid #ccc;
    padding: 10px;
}
.table span{
    text-align: center;
    margin: 0 20px 20px;
    cursor: pointer;
}
.table{
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid black;
}
.input{
    padding-top: 20px;
    padding-bottom: 20px;
}
.el-input{
    width: 200px;
    margin: 0 40px;
}
.form{
    margin-top: 50px;
}
.order{
    background: #ffffff;
}
.search{
    margin-bottom: 30px;
}


.router-link-active {
    text-decoration: none;
}
